---
---

@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia Pro Regular Az.otf");
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia Pro Bold Az.otf");
    font-weight: bold;
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia Pro Regular Italic Az.otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia Pro Bold Italic Az.otf");
    font-weight: bold;
    font-style: italic, oblique;
}

@import "{{ site.theme }}";
