/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia_Pro_Regular.otf");
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia_Pro_Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia_Pro_Regular_Italic.otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia_Pro_Bold_Italic.otf");
    font-weight: bold;
    font-style: italic, oblique;
}

body {
    background: #efefef !important;
}

header {
    text-align: center;

    a {
        font-weight: normal;
        border-bottom: none;
        text-decoration: none;
    }

    nav ul {
        margin-left: 0;

        li {
            display: inline;
            margin: 0 5px;
        
            a {
                color: #808080;

                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }

    section.header-title {
        font-family: sofia-pro, 'Segoe UI', Roboto, sans-serif;
        font-size: 2rem;
        line-height: 2;

        h2 {
            text-align: center;
        }
    }
}

.blog-title-link {
    font-size: 40px;
    text-decoration-line: none;
}

.narrow-list {
    width: 60%;
    margin: auto;
    margin-top: 2em;
}

.post-item-title {
    margin-top: 0.5em;
}

// https://codepen.io/nxworld/pen/OJVJQme
.neumorphic {
    padding: 1em 1.5em;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
}
.neumorphic:active {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
}


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
