/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia_Pro_Regular.otf");
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia_Pro_Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia_Pro_Regular_Italic.otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: sofia-pro;
    src: url("../assets/fonts/Sofia_Pro_Bold_Italic.otf");
    font-weight: bold;
    font-style: italic, oblique;
}

header {
    text-align: center;
}

header a {
    font-weight: normal;
    border-bottom: none;
}

header nav ul {
    margin-left: 0;
}
  
header nav ul li {
    display: inline;
    margin: 0 5px;
}
  
header nav ul li a {
    color: #808080;
}
  
header nav ul li a:hover {
    color: #000;
}

header section.header-title {
    font-family: sofia-pro, 'Segoe UI', Roboto, sans-serif;
    font-size: 2rem;
    line-height: 2;
}
  
header section.header-title h2 {
    text-align: center;
}


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
